body, html {
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #E6FBEF !important;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100px;
    background-color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    background-color: transparent;
    width: 95%;
    margin-top: 40px;
    padding: 0;
    position: relative;
    z-index: 10;
    background-color: #fff;
}

.logo-menu-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

/* Säädä logoa pienemmäksi */
.Alogo {
    height: 100px; /* Pienennetty korkeus */
    position: absolute;
    padding-top: 0px;
    padding-left: 7%;
    /* margin-right: 100px; Pienennetty marginaali */
}

.top-level-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 2;
    justify-content: flex-end;
}

.top-level-menu li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

/* Tässä korjataan second-level-menu:n toimivuus */
.top-level-menu li:hover .second-level-menu {
    display: block; /* Näytä kun viet hiiren päälle */
    position: absolute; /* Asetetaan absoluuttiseen paikkaan */
    background: #fff; /* Taustaväriksi valkoinen */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Kevyt varjostus */
    z-index: 100; /* Varmistetaan, että se on päällimmäisenä */
}

.top-level-menu a:hover {
    color: #035928;
    text-decoration: none;
}

.content-area {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    padding-left: 5%;
    z-index: 101;
}

.paa {
    width: 50%;
    margin-top: 100px;
    padding: 0 30px;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    position: absolute;
    right: 30px;
    top: 115px;
}


.mie {
    max-width: 250px; /* henkilön koko */
    height: auto;
    position: relative;
    z-index: 3;
    margin-right: 50px;
}
.mie2 {
    max-width: 350px; /* henkilön koko */
    height: auto;
    margin-left: 700px;
    margin-top: 200px;
    position: absolute;
}
/* Palautetaan animaatiot ja korostusvärit */
.korostus {
    color: #035928; /* Pinkki korostusväri */
    animation: haivutus 3s; /* Animaatio palautettu */
}

@keyframes haivutus {
    from { 
        opacity: 0.5; 
    }
    to { 
        opacity: 1; 
    }
}


.paa h1, .paa p {
    color: #333; /* Tumma väri parempaa kontrastia varten */
}
.hamburger-menu {
    display: none; /* Hidden by default, shown in mobile view */
}

.hamburger-menu .icon {
    display: none; /* Hidden by default, shown in mobile view */
}

.otsikko {
    display: block;
    text-align: center;
    margin-bottom: 5px; 
    font-weight: bold;
    color: #333; 
}
.kuvat {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 300px;
}
.tyontekijat {
    display: flex;
    /* justify-content: center; */
    gap: 20px;
    margin-top: 50px;
}
.naytto {
    width: 200px; 
    height: 200px; 
    border-radius: 10px; 
    transition: transform 0.3s ease; 
}
.naytto:hover {
    transform: scale(1.1); 
    box-shadow: 5px 8px 10px; 
    color: #035928;
}
.paa1 {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
}
.naytto1 {
    width: 200px; 
    height: 200px; 
}
.naytto1:hover {
    transform: 0;
    box-shadow: 0; 
    color: transparent;
}
.minotsikko {
    font-size: 20px;
    font-weight: 500;
}
.leipateksti1 {
    margin: 0;
    padding: 0;
}

.teksti {
    margin-left: 268px;
}
.pilvi {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    position: absolute;
    right: 20px;
    top: 50px;

}
.footer {
    background-image: url(images/footer-transparent.png);
    background-repeat: repeat-x;
    background-position: bottom;
    height: 190px;
    width: 100%;
    color: #fff;
    position: relative; /* Jätä position 'relative' */
    bottom: 0;
    left: 0;
}


/* Vastuulliset muutokset pienille näytöille */
@media (max-width: 1023px) {
    .navbar {
        height: auto;
        justify-content: space-between;
    }

    .Alogo {
        margin-right: 0; /* Poistetaan ylimääräinen oikea marginaali */
        order: 4;
        height: 80px; /* Pienennetty korkeus */
    }

    .top-level-menu {
        display: none;
        flex-direction: column;
        margin-left: 60%;
    }

    .top-level-menu li a {
        width: 100%;
    }

    .top-level-menu li a:hover {
        width: 100%;
        color: #035928;
    }

    .top-level-menu.responsive {
        display: flex; /* Näytä kun hamburger-menua klikataan */
    }

    .hamburger-menu {
        display: flex; /* Näytä hamburger-menu */
        color: #035928;
    }

    .content-area {
        flex-direction: column;
        align-items: left;
    }
    .paa1 {
        margin-top: 100px; /* tekstin ja otsikon väli */
    }


    .paa {
        order: 1;
    }
    .muoto {
        max-width: 160px;  /* Muodon koko */
        height: auto;
        position: absolute;
        z-index: 1;
        margin-top: 800px;
    }
    
    .mie {
        max-width: 100px; /*  koko */
        height: auto;
        position: relative;
        z-index: 1;
        margin-top: 10px;
    }
    .mie2 {
        max-width: 160px; /* henkilön koko */
        height: auto;
        position: absolute;
        margin-left: 480px;
        margin-top: 120px;
    }

    .hamburger-menu {
        display: flex; /* Asetetaan näkyväksi kaikissa tiloissa */
        flex-direction: column;
        justify-content: space-around;
        height: 30px;
        width: 30px;
        cursor: pointer;
        z-index: 1000; /* Varmistetaan, että se on päällimmäisenä */
        border-radius: 5px; /* Pyöristetyt kulmat */
        padding: 5px; /* Sisätila */
        margin-right: 50px; /* Säädä hampparin paikkaa */
        margin-top: 0;
    }
    
    .hamburger-menu .icon {
        display: block; /* Asetetaan näkyväksi */
        width: 100%;
        height: 3px;
        background-color: #000000; /* Tumma väri näkyvyyden parantamiseksi */
        transition: all 0.3s ease;     
        margin-top: 0;   
    }
    .icon:hover {
        background-color: #035928;  
    }
    .kuvat {
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
        margin-top: 500px;
    }
    .pilvi {
        display: none;   
    }
    .linkkari {
        margin: 0 0 0 0;
    }
    .footer {
       display: none;
    }
    /* .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 150px;
        background: transparent; /* Asetetaan läpinäkyväksi */
}